@import "./../../../../styles.scss";

.navbar-collapse {
  justify-content: flex-end;

  &.loggedIn {
    justify-content: space-between;
  }
}

.navbar-brand {
  color: orange;
}

.profile-dropdown {
  display: flex;
  align-items: center;

  .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20px;

    img {
      max-width: 100%;
    }
  }
}

.logout {
  cursor: pointer;
}

.dropdown-menu {
  background-color: lighten($color: $theme-color, $amount: 12%);

  a {
    color: #fff;

    &:hover {
      background-color: lighten($color: $theme-color, $amount: 5%);
    }
  }
}

@media screen and (min-width: 992px) {
  .regular-nav-links {
    margin-left: 50px;
  }
}
