@import "../styles.scss";

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .app-main {
    flex: 1;
    background: rgba($color: $theme-color, $alpha: 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app-footer {
    background: rgba($color: $theme-color, $alpha: 0.9);
    color: #fff;
    hr {
      margin: 0;
    }
  }
}
