@import "../../../styles.scss";

.card {
  background: rgba($color: $theme-color, $alpha: 0.8);
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 30px $theme-color;
  overflow: hidden;

  .profile-image {
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  .card-title {
    font-size: 30px;
  }

  .card-body {
    padding: 30px;

    .age-gender {
      font-size: 14px;
      color: rgba($color: #fff, $alpha: 0.5);
    }

    .about-me {
      margin: 30px 0;
      color: rgba($color: #fff, $alpha: 0.9);
    }

    .card-actions {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      .btn {
        &:first-child {
          margin-right: 10px;
        }

        &:last-child {
          margin-left: 10px;
        }

        width: calc(50% - 10px);
      }
    }

    .badges {
      .badge {
        background: rgba($color: $theme-color, $alpha: 0.9) !important;
        padding: 8px 10px;
        font-size: 12px;
        font-weight: 400;
        margin-right: 6px;
        margin-bottom: 6px;
        border-radius: 4px;
      }
    }
  }
}
