<app-placeholder [noPadding]="true">
  <ng-container header
    ><span class="highlight">{{ feed.firstName }}</span
    >'s profile</ng-container
  >
  <ng-container main>
    <section class="feed" *ngIf="!!feed">
      <section class="picture">
        <img
          [src]="feed.profileIconUrl"
          class="card-img-top"
          [alt]="feed.firstName"
        />
      </section>
      <section class="feed-body">
        <h5 class="title">{{ feed.firstName }} {{ feed.lastName }}</h5>
        <h6 class="age-gender">
          <span class="age" *ngIf="feed.age">{{ feed.age }} Yrs,</span>
          <span class="gender highlight">{{ feed.gender | titlecase }}</span>
        </h6>
        <p class="about">
          {{ feed.about }}
        </p>
        <div class="badges">
          <span *ngFor="let skill of feed.skills" class="badge">{{
            skill
          }}</span>
        </div>
        <div class="feed-actions">
          <button type="button" class="btn btn-lg" (click)="onInterested()">
            Interested
          </button>
          <button
            type="button"
            class="btn btn-holo btn-lg"
            (click)="onIgnore()"
          >
            Ignore
          </button>
        </div>
      </section>
    </section>
  </ng-container>
</app-placeholder>
