/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,500");

$theme-color: rgb(33, 37, 41);
$theme-color-light-1: lighten($theme-color, 5%);
$theme-color-light-2: lighten($theme-color, 10%);
$theme-color-light-3: lighten($theme-color, 15%);
$theme-color-light-4: lighten($theme-color, 20%);
$theme-color-light-5: lighten($theme-color, 25%);

$light-color: #fff;
$light-color-dark-1: darken($light-color, 5%);
$light-color-dark-2: darken($light-color, 10%);
$light-color-dark-3: darken($light-color, 15%);
$light-color-dark-4: darken($light-color, 20%);
$light-color-dark-5: darken($light-color, 55%);

$theme2-color: orange;
$theme2-color-dark-1: darken($theme2-color, 5%);
$theme2-color-dark-2: darken($theme2-color, 10%);
$theme2-color-dark-3: darken($theme2-color, 15%);
$theme2-color-dark-4: darken($theme2-color, 20%);
$theme2-color-dark-5: darken($theme2-color, 25%);
$theme2-color-dark-6: darken($theme2-color, 30%);
$theme2-color-dark-7: darken($theme2-color, 35%);

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 200;
  color: $light-color;
  font-size: 100%;

  a,
  .a-non-link {
    color: $theme2-color-dark-1;
    cursor: pointer;
  }
}

input {
  &:read-only {
    cursor: not-allowed;
  }
}

.highlight {
  font-weight: 500;
  color: $theme2-color-dark-3;
}

$button-color: $light-color-dark-1;
$button-background: $theme2-color-dark-5;
$button-background-darker: $theme2-color-dark-6;

@mixin btn {
  background-color: $button-background;
  color: $button-color;
  border: none;
  box-shadow: 0 0 0.5rem $theme-color;

  &:hover,
  &:active,
  &:focus,
  &:disabled {
    background-color: $button-background-darker !important;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.btn {
  @include btn;
}

.btn-holo {
  @include btn;
  background: $button-color;
  color: $button-background;
  box-shadow: none;
  border: none;

  &:hover,
  &:active,
  &:focus,
  &:disabled {
    background: darken($button-color, 20%) !important;
    color: $button-background !important;
  }
}
