@import "../../../../styles.scss";

$age-gender-color: $light-color-dark-4;
$badge-background: $theme-color-light-3;

.user {
  .picture {
    max-height: 600px;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  .user-body {
    padding: 2rem;

    .title {
      font-size: 2rem;
      font-weight: 300;
      margin: 0 0 0.5rem;
    }

    .age-gender {
      font-size: 0.75rem;
      color: $age-gender-color;
      margin: 0 0 2rem 0;

      .age {
        margin-right: 0.5rem;
      }
    }

    .about {
      font-weight: 300;
      margin-bottom: 1rem;
    }

    .badges {
      margin-bottom: 2rem;

      .badge {
        font-size: 0.875rem;
        background-color: $badge-background;
        padding: 0.5rem 0.75rem;
        border-radius: 0.25rem;
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
      }
    }

    .user-actions {
      display: flex;
      align-items: center;
      justify-content: center;

      .btn {
        width: calc(50% - 0.5rem);

        &:first-child {
          margin-right: 0.5rem;
        }

        &:last-child {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
